/* .deep svg g:first-child {
   margin-left: auto;
   border:5px solid yellow;
   
}
 */

 .deepak svg  {
   /* width: "1000px"!important;
   height: 600px!important; */
   /* border:5px solid red;
   height: 600px!important; */
      
  
 }


