/* Hero.css */
#home {
  padding-top: 15%;
  display: flex;
   
  justify-content: space-between;
  gap: 8rem;
  
 
  /* background: rgba(0,0,0,0); */
}

#home .hero-text > p {
  /* font-size: 1.8rem; */
  font-size: 0.9rem;
}

#home .hero-text h1 {
  /* font-size: 4.37rem; */
   font-size: 4.5rem;
   font-weight: 700;
}

#home .hero-text h3 {
  color: #23ce6b;
  margin: 1rem 0;
  font-size: 18px;
}

.hero-text p.small-resume {
  margin-bottom: 5rem;
}

#home .social-media {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-left: 1rem;
}

#home .social-media img,
#home .social-media span {
  /* font-size: 3rem; */
   font-size: 2rem;
  width: 2.25rem;
}

#home  .button {
  margin-top: 5rem;
  /* padding: 1.4rem 6rem; */
  padding: 1rem 3rem;
  
}

#home .hero-image img {
  max-width: 500px;
}

@media(max-width: 960px) {
  #home {
    display: block;
    margin-top: 15%;
  }

  .hero-text h1 {
    font-size: 5rem;
  }

  /* .hero-image {
    display: none;
  } */
}

@media(max-width: 600px) {
  #home {
    margin-top: 35%;
  }
}

@media(max-width: 480px) {
  #home {
    margin-top: 45%;
  }
}


.hero-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}






@media only screen and (max-width: 480px) {
  .hero-image {
    max-width: 100%;
    margin-top: 4rem;
  }

  .hero-image img {
    margin-top: 2rem;
    width: 100%;
    filter: grayscale(0);
    transition: filter 0.5s;
  }

  .hero-image img:hover {
    filter: grayscale(0);
  }
}

@media (max-width: 960px) {
  .hard-skills {
    justify-content: center;
  }

  .hero-image {
    display: flex;
    max-width: 100%;
    text-align: center;
  }

  .hero-image img {
    margin-top: 2rem;
    width: 100%;
    filter: grayscale(0);
    transition: filter 0.5s;
  }

  .hero-image img:hover {
    filter: grayscale(0);
  }
}
